*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}
a{
    text-decoration: none;
}

/* =============
top-bar-section
============= */

.top-bar-section{
    width:90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu a{
    margin-right:20px;
    color: black;
    font-size:17px;
}

/* ======== 
slider-section 
======*/
.slider-section{
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:60px auto;
    padding: 10px;
}
.slider-text{
    width: 60%;
    margin-right:80px;
}
.slider-text h1{
    margin-bottom: 10px;
    font-size:30px;
}
.slider-text p{
    font-size:18px;
    line-height: 2;
}
.slider-text button{
    padding: 10px 20px;
    margin: 20px 0px;
    border: none;
    border-radius:20px;
    color: white;
    background-color: #E02C6D;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.slider-img{
    width: 40%;
}
.slider-img img{
    width:90%;
}

/* =============
brand-section
=================*/
.brand-section{
    width: 90%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    margin:50px auto;
    border-top: 1px solid rgba(122, 113, 113, 0.226);
    border-bottom:1px solid rgba(122, 113, 113, 0.226);
}
.brand-item{
 width:80px;
 margin:15px;
}
.brand-item img{
    width:80px;
    height: 80px;
}
/* ========================
Responsive code 
==========================*/

/* Mobile code  */

@media (max-width:800px) {
    .top-bar-section{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 30px 0;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
  .menu{
      margin:30px auto;
  }
}


@media (max-width:800px) {
    .slider-section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .slider-text{
        width: 100%;
        order: 2;
        margin:30px 0px;
    }
    .slider-img{
        width: 100%;
        order: 1;
    }
}