*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}
a{
    text-decoration: none;
}

/* =============
top-bar-section
============= */

.top-bar-section{
    width:90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu a{
    margin-right:20px;
    color: black;
    font-size:17px;
}

/* ======== 
slider-section 
======*/
.slider-section{
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:60px auto;
    padding: 10px;
}
.slider-text{
    width: 60%;
    margin-right:80px;
}
.slider-text h1{
    margin-bottom: 10px;
    font-size:30px;
}
.slider-text p{
    font-size:18px;
    line-height: 2;
}
.slider-text button{
    padding: 10px 20px;
    margin: 20px 0px;
    font-weight: 600;
    border: none;
    border-radius:20px;
    color: white;
    background-color: #E02C6D;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.slider-img{
    width: 40%;
}
.slider-img img{
    width:90%;
}
#slider-trans{
    transition: transform 1s ease-in 0.2s;
    -webkit-transition: transform 1s ease-in 0.2s;
    -moz-transition: transform 1s ease-in 0.2s;
    -ms-transition: transform 1s ease-in 0.2s;
    -o-transition: transform 1s ease-in 0.2s;
}
.slider-section:hover #slider-trans{
   transform:  scale(1.2) ;
   -webkit-transform:  scale(1.2) ;
   -moz-transform:  scale(1.2) ;
   -ms-transform:  scale(1.2) ;
   -o-transform:  scale(1.2) ;
}

/* =============
brand-section
=================*/
.brand-section{
    width: 90%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    margin:50px auto;
    border-top: 1px solid rgba(122, 113, 113, 0.226);
    border-bottom:1px solid rgba(122, 113, 113, 0.226);
}
.brand-item{
 width:80px;
 margin:15px;
}
.brand-item img{
    width:80px;
    height: 80px;
}

/* =============
articles-section
================*/

.articles-section{
    width: 90%;
    padding: 10px;
    margin: 60px auto;
}
#collection-title{
    text-align: center;
    margin-bottom: 30px;
}
.articles{
    width: 100%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
}
.article-item{
    width:calc(33% - 20px);
    background-color:white;
    padding:10px;
    margin:15px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px 0px;
}
.article-img img{
    width: 100%;
    height: 11rem;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#price{
    margin-top: 10px;
    font-weight:500;
}
#stare{
    font-size:9px;
    line-height:1.9;
    color: orange;
}

.article-info span{
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
}
.article-smail p{
    font-size: small;
    line-height: 1.7;
    font-weight:600;
    color: #787885;
}
#see-more{
    color: #E02C6D;
    float: right;
    margin-top:20px;
}
/* ============
navfooter-section
================*/
.navfooter-section{
    width: 100%;
    background-color: #232F3E;
    color: white;
}
#back{
    width: 100%;
    display: block;
    text-align: center;
    background-color: #485769;
    color: white;
    padding: 15px;
}
.navfooter{
    width: 90%;
    display: flex;
    justify-content: space-between;
   margin: auto;
   padding:20px;
}

.navfooter-item h2{
    line-height: 3;
}
.navfooter-item ul li {
    list-style: none;
    line-height: 2;
}
.navfooter-item a{
    color: white;
}
/* ==============
footer
================= */
.footer{
    width: 100%;
    padding: 20px;
    text-align:center;
    background-color: #0A0826;
    color: white;
}

.footer p{
    line-height: 2;
}
.footer a{
    color: white;
    margin:5px;
    font-size:27px;
}


/* ======================== Responsive code =======================*/

/* ---------------Android Mobile-------------------- */

/* =============
 Responsive top-bar-section
==============*/
@media (max-width:800px) {
    .top-bar-section{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 30px 0;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
  .menu{
      margin:20px auto;
  }
  .menu a{
      width: 100%;
      display: block;
      line-height: 2;
  }
}

/* =================
Responsive slider-section 
================= */
@media (max-width:800px) {
    .slider-section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .slider-text{
        width: 100%;
        order: 2;
        margin:30px 0px;
    }
    .slider-img{
        width: 100%;
        order: 1;
    }
}
/* ================
Responsive articles-section
================ */

@media (max-width:900px) {
    .article-item{
        width:calc(50% - 20px);
        background-color:white;
        padding:10px;
        margin:15px 10px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        box-shadow: rgb(0, 0, 0) 0px 0px 10px 0px;
    }
}


@media (max-width:720px) {
    .article-item{
        width:calc(100% - 20px);
        background-color:white;
        padding:10px;
        margin:15px 10px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        box-shadow: rgb(0, 0, 0) 0px 0px 10px 0px;
    }
}
/* =============
Responsive navfooter-section
=============== */
@media (max-width:720px) {
    .navfooter{
        display: flex;
        flex-direction:column;
    }
}

